@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

/*all styles */
html, body {
  margin: 0;
  padding: 0;
  color: #333333;
  font-family: 'Source Code Pro', monospace, "Microsoft Yahei","微软雅黑";
}

*  {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto auto auto;
  height: 100vh;
  align-items: center;
}

.brand {
  padding-top: 2em;
  grid-column: 4 / -4;
}

.brand p {
  font-size: 24px;
}

p {
  font-size: 20px;
}

.intro {
  font-size: 24px;
  padding: 2em 0;
  margin-bottom: 6em;
}

.intro li {
  padding: 0.5em;
}

.intro a {
  text-decoration: none;
  color: black;
}

.intro a:hover {
  color: pink;
}


main {
  grid-column: 4 / -4;
}

.links {
  grid-column: 4 /-4;
  height: 100%;
}

.links a {
  margin-right: 5px;
  text-decoration: none;
  color: black;
}

.links a:hover {
  color: hotpink;
}

.footer {
  background: #fff;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer p {
  text-align: center;
  font-size: 28px;
}

.footer i {
  color: lightpink;
  margin: 1em;
}

@media (max-width:760px) {
  .brand {
    grid-column: 2/-2;
  }

  main {
    grid-column: 2/-2;
  }

  .intro {
    font-size: 20px;
  }

  .links {
    grid-column: 2/-2;
  }
}

.footer p {
  font-size: 24px;
}